/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------Styles---------- */
html{
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    font-weight: bold;
    font-size: 3.4rem;
    color: black;
}
h2{
    font-weight: bold;
    font-size: 2.6em;
}
h3{
    font-weight: bold;
    font-size: 1.9em;
}
/* -----------Nav------------ */

.nav{
    background: rgb(32, 31, 30);
    background-size: cover;
    
}
.image{
    display: flex;
    height: 100px;
    background-color: rgb(199, 138, 7);
    margin-left: 15px;
    margin-right: 15px;
    
}
.nav-list a,
.nav-list a:link,
.nav-list a:visited{
    display: flex;
    padding: 1.5em 0;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    color:rgb(199, 138, 7) ;
    justify-content: center;
    
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current{
    background-color: rgb(199, 138, 7);
    color: inherit;
}
.nav i{
    background-color: rgb(32, 31, 30);
    align-items: flex-end;
    color: rgb(199, 138, 7);
    border: 1px solid rgb(199, 138, 7);
    padding: 8px
    
}

.search{
    display: flex;
    padding: 20px;
}

button{
    background-color: transparent;
    border:none;
}
#search{
    width: 95%;
}


/*---------- Intro -----------*/
.intro{
    display: flex;
    height: 700px;
    background: rgba(0, 0, 0, 0.472) url(../images/main-banner.jpg);
    background-size: cover;
    align-items: center;
    
    
}
.intro p{
    padding-top: 40px;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.753);
    line-height: 1.5;

}
.intro h1{
    font-size: 3em;
    padding-top: 40px;
    margin-left: 20px;
    color: white;
    line-height: 1.5;
}
.box-intro{
    height: 560px;
    background: rgba(0, 0, 0, 0.65);
    padding-top: 20px;
}
.intro a{
    font-size: 1.2em;
    font-weight:bold ;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 35px 60px 35px 60px;
    background: rgb(199, 138, 7);
    display: inline-block;
    margin-top: 35px;
    margin-left: 20px;
    word-spacing: 5px;
    
}

/* ---------about us------- */

.about{
    display: flex;
    background-color: rgba(255,230,172,255);
    height: auto;
    flex-direction: column;
    justify-content:space-between
}
.about img{
    padding: 20px;
}
.about-content{
    margin: 20px;
    padding-bottom: 25px;
}
.about-content p{
    padding-top: 25px;
    color: rgb(8, 7, 7);
    line-height: 1;
}

/* -----------Services-------- */
#service{
    padding-top: 20px;
    padding-left: 20px;
}
.services{
    margin: 20px;
    display: flex;
    background-color: rgba(0,0,0,0);
    height: auto;
    flex-direction: column;
    justify-content:space-between
    
}
.services h2{
    margin-bottom: 2px;
}

/* ----digital---- */
.digital-services{
    margin-top: 20px;
    line-height: 1.2;
    background-color:rgba(255,230,172,255) ;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content:space-between
}
.digital-services p{
    padding-top: 25px;
    color: rgb(8, 7, 7);
    line-height: 1.2;
    margin-left: 15px;
    margin-right: 15px;
}
.digital-services h3{
    margin-left: 15px;
    margin-top: 25px;
}
.digital-services a{
    font-size: 1.2em;
    color: rgb(230, 230, 230);
    text-decoration: none;
    padding: 10px 80px 10px 80px;
    background: rgb(32, 31, 30);
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 30px;
    width: 150px;
    height: 50px;
    padding-top: 25px;
    word-spacing: 5px;
    margin-left: 15px;
}


/* ----marketing---- */
.marketing_services{
    margin-top: 20px;
    line-height: 1.2;
    background-color:rgba(255,230,172,255) ;
    display: flex;
    flex-direction: column;
    justify-content:space-between

}
.marketing_services p{
    padding-top: 25px;
    color: rgb(8, 7, 7);
    line-height: 1.2;
    margin-left: 15px;
    margin-right: 15px;
}
.marketing_services h3{
    margin-left: 15px;
    margin-top: 25px;
}
.marketing_services a{
    font-size: 1.2em;
    color: rgb(230, 230, 230);
    text-decoration: none;
    padding: 10px 70px 10px 70px;
    background: rgb(32, 31, 30);
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 30px;
    width: 190px;
    height: 50px;
    padding-top: 25px;
    word-spacing: 5px;
    margin-left: 15px;
}

/* ----video---- */
.video{
    line-height: 1.2;
    background-color:rgba(255,230,172,255) ;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content:space-between
}
.video p{
    padding-top: 25px;
    color: rgb(8, 7, 7);
    line-height: 1.2;
    margin-left: 15px;
    margin-right: 15px;
}
.video h3{
    margin-left: 15px;
    margin-top: 25px;
}
.video a{
    font-size: 1.2em;
    color: rgb(230, 230, 230);
    text-decoration: none;
    padding: 10px 70px 10px 70px;
    background: rgb(32, 31, 30);
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 30px;
    width: 150px;
    height: 50px;
    padding-top: 25px;
    word-spacing: 5px;
    margin-left: 15px;
}

/* ----web---- */
.web{
    line-height: 1.2;
    background-color:rgba(255,230,172,255) ;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content:space-between
}
.web p{
    padding-top: 25px;
    color: rgb(8, 7, 7);
    line-height: 1.2;
    margin-left: 15px;
    margin-right: 15px;
}
.web h3{
    margin-left: 15px;
    margin-top: 25px;
}
.web a{
    font-size: 1.2em;
    color: rgb(230, 230, 230);
    text-decoration: none;
    padding: 10px 70px 10px 70px;
    background: rgb(32, 31, 30);
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 30px;
    width: 150px;
    height: 50px;
    padding-top: 25px;
    word-spacing: 5px;
    margin-left: 15px;
}
/* ----print---- */
.Print{
    line-height: 1.2;
    background-color:rgba(255,230,172,255) ;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content:space-between
}

.Print p{
    padding-top: 25px;
    color: rgb(8, 7, 7);
    line-height: 1.2;
    margin-left: 15px;
    margin-right: 15px;
}
.Print h3{
    margin-left: 15px;
    margin-top: 25px;
}
.Print a{
    font-size: 1.2em;
    color: rgb(230, 230, 230);
    text-decoration: none;
    padding: 10px 70px 10px 70px;
    background: rgb(32, 31, 30);
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 30px;
    width: 150px;
    height: 50px;
    padding-top: 25px;
    word-spacing: 5px;
    margin-left: 15px;
}

/* ----------------Vision------------- */
.our-vision{
    background-image: url(../images/vision.jpg );
    display: flex;
    height: 300px;
    background-size: cover;
    flex-direction: column;
    color: white;
    margin: 9px;
    padding-top: 40px;
}
.our-vision h2{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 2em;
    margin-left: 10px;
}
.our-vision p{
    margin-left: 10px;
    line-height: 1.5;
    font-size: 0.9em;
    color: rgba(255, 254, 254, 0.842);
}
.our-vision a{
    font-size: 1.2em;
    color: rgb(230, 230, 230);
    text-decoration: none;
    padding: 20px 60px 20px 60px;
    background: rgb(32, 31, 30);
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 30px;
    width: 150px;
    height: 90px;
    padding-top: 25px;
    word-spacing: 5px;
    margin-left: 15px;
    border: 0.5px solid rgb(199, 138, 7);
}
/* ---------------Our Team------------ */
.our_team{
    margin:20px;
    line-height: 1.5;
    background-color:rgba(0,0,0,0) ;
    
    margin-top: 20px;
}
.services{
    margin: 20px;
    display: flex;
    background-color: rgba(0,0,0,0);
    height: auto;
    flex-direction: column;
    justify-content:space-between
    
}
.team{    
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content:space-between
    
}

/* ----john---- */
.john{
    background-color:rgba(255,230,172,255);
    margin-bottom: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.john h2{
    margin-top: 10px;
}
.john h3{
    margin-bottom: 10px;
    font-size: 1.1em;
}
.john p{
    border-top: solid rgb(199, 138, 7);
    padding-top: 20px;
}

/* -----bob------- */
.Bob{
    background-color:rgba(255,230,172,255);
    margin-bottom: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.Bob h2{
    margin-top: 10px;
}
.Bob h3{
    margin-bottom: 10px;
    font-size: 1.1em;
}
.Bob p{
    border-top: solid rgb(199, 138, 7);
    padding-top: 20px;
}

/* ----------Contact------- */

.contact {
    margin: 19px;
    margin-top: 15px;
    line-height: 2;
    font-size: 1em;
}

.contact input[type=email],
[type=text] {
    width: 100%;
    
}

textarea {
    width: 100%;
    height: 200px;
    resize: none;
}

button[type=button] {
    margin-top: 20px;
    font-size: 1.6em;
    color: rgb(199, 138, 7) ;
    background-color: rgb(32, 31, 30);
    text-decoration: none;
    padding: 10px 20px;
}

/* -----hours table-------- */
.hours{
    margin: 10px;
    font-weight: 500;
}
table,td,th{
    border: 1px solid black;
}
table{
    width: 100%;
}
th,td{
    padding: 10px;
}
th{
    background-color:rgba(255,230,172,255) ;
}
/* ----location----- */
iframe{
    width: 100%;
}

/* ---footer--- */
.site-footer{
    background-color:rgb(32, 31, 30) ;
    margin-top: 20px;
    padding: 10px 0;
    color: rgb(199, 138, 7);
    line-height: 3;
    margin: 20px;
    padding-left: 20px;
    padding-top: 25px;
}
.site-footer a{
    color: inherit;
}
/* --------------------------------
            Desktop Styles
 --------------------------------- */
 @media screen and (min-width: 760px ){

    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
     /* --------nav------ */
    .nav-list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 8px;
        height: 120px;
    }
    .image{
        margin: 20px;
    }

    .nav-list a,
    .nav-list a:link,
    .nav-list a:visited{
    display: flex;
    padding: 1.5em 1.2em;
    }

    /* --------welcome----- */
    .intro{
        display: grid;
        justify-content: center;
        max-height: 900px;
    }
    .box-intro{
        margin: 50px;
    }
    .intro h1{
        font-size: 5em;
    }

    /* -----about us------ */
    .about{
        display: grid;
        grid-template-columns:repeat(2,auto);
        grid-template-rows: repeat(1,auto);
        height: auto;
        margin: auto;
        
    }
    .about img{
        max-width: 100%;
        display: block;
        height: auto;
        margin-left: 30px;
        
    }
    .about-content {
        max-width: 100%;
        margin-left: 90px;
        margin-right: 30px;
    }
    .about p{
        padding: 0px;
        padding-top: 10px;
    }


    /* ----services------- */

    .services{
        display: grid; 
        grid-template-columns: repeat(6, minmax(0, 1fr));  
        grid-template-rows: 1fr 1fr; 
        gap: 10px 10px; 
        grid-template-areas: 
          "digital-services digital-services digital-services marketing_services marketing_services marketing_services"
          "video video web web print print "; 
    }
    .digital-services { 
        grid-area: digital-services; 
        
    }
    .marketing_services { 
        grid-area: marketing_services;
        
    }
    .video { 
        grid-area: video; 
    }
    .web { 
        grid-area: web; 
    }
    .Print { 
        grid-area: print; 
        
    }
/* ----------vision--------- */
    .our-vision{
        margin: 0;
    }
    .our-vision h2, p,a{
        max-width: 70%;
        padding-left: 40px;
    }
    .our-vision a{
        margin-left: 50px;
    }
    .services p{
        padding-left: 0px;
    }



/* --------team--------- */

    .team{
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 0.2fr 1fr 1fr;  
        margin-left: 9px;
        
        

      }
      #team-head { grid-area: 1 / 1 / 2 / 3; 
        
    }
    .john-img { grid-area: 2 / 1 / 3 / 3; }

    .john { grid-area: 2 / 2 / 3 / 3; 
        margin-bottom: 0;
    }
    .john p{
        padding-left: 5px;
    }
    .Bob { grid-area: 3 / 1 / 4 / 2; 
        margin-bottom: 0;
    }
    .Bob p{
        padding-left: 5px;
    }


    .bob-img { grid-area: 3 / 2 / 4 / 3; }

/* -----------contact------- */
    .contact{
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 0.2fr 1fr 0.5fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "contact-head contact-head"
            "contact-form location"
            "hours hours"; 
    }
    #contact-head { grid-area: contact-head; }
    .contact-form { grid-area: contact-form; 
    margin-right: 20px;
    margin-top: 30px;}
    .location { grid-area: location; }
    .hours { grid-area: hours; }
      
/*----------footer-----  */
    .site-footer{
        height: 50px;
        line-height: 2;
        font-size: 0.8em;
        width:1200px;
        margin-left: 0;
        
    }
    .site-footer p, a{
        margin: 0px;
        padding: 0;
    }    

 } 
